.div-main {
    background-color: bisque;
    width: auto;
    height: auto;
    text-align: center;
    list-style-position: inside;
    font-family: 'Monospace', 'sans-serif';
    list-style: circle;
}

a {
    font-size: 20px;
}

img {
    height: 300px;
    width: auto;
}

li, p {
    font-size: 15px;
    font-family: 'Monospace', 'sans-serif';
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: lightgreen;
}

